body {
  font-family: sans-serif;
  min-height: 95vh;
}
h1 {
  text-align: center;
}
.glide {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  min-width: 400px;
  max-width: 500px;
  height: auto;
  max-height: 390px;
}
.glide__track {
}
h1 {
  background-color: #2aa5a0;
  background-image: linear-gradient(-45deg, #ed145b, #7b31f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.glide__slide {
  width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
  color: #fff;
  background: rgb(136, 133, 133);
  font-size: 1em;
  font-weight: 900;
  padding: 20px 0;
  height: 500px;
}
.copyright {
  text-align: center;
}

.glide__slide[class*="active"] {
  background: linear-gradient(-45deg, #ed145b, #7b31f4);
}
.glide__arrows {
  position: absolute;
  top: -7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.glide__arrow {
  background: linear-gradient(-45deg, #ed145b, #7b31f4);
}
.image_details {
  max-width: 80%;
}
